{% extends 'base.html' %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Competencias</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Mis Competencias </h1>
		<table class="grilla" width="100%">
			<thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Programa</th>
                    <th>Nota</th>
                    <th>Nota Hab.</th>
                </tr>
            </thead>
            
            <tbody> 
                {% for calificacion in calificaciones %}
                    <tr class="{% cycle '' 'odd' %}">
                        <th scope="row"><a href="{{calificacion.idCompetencia}}/">{{ calificacion.codigoCompetencia }}</a></th>
                        <td>{{ calificacion.nombreCompetencia }}</td>
                        <td style="text-align:center">{{ calificacion.nombrePrograma }}</td>
                        <td style="text-align:center">{{ calificacion.nota_definitiva }}</td>
                        <td style="text-align:center">
	                        {% if calificacion.nota_habilitacion %}
                           		{{ calificacion.nota_habilitacion }}
                           	{% else %}
                           		0,0
	                        {% endif %}
                        </td>
                    </tr>                                   
                {% endfor %}
            </tbody>
            
            <tfoot>
                <tr>
               		<th scope="row" colspan="5">Total Programas: {{cantidad}}</td>
                </tr>
            </tfoot>			
		</table>
	</div>			
{% endblock %}