{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %}
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Historial Académico</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Historial Académico </h1>
		<ul class="tabs">
			{% for llave, valor in programas.items %}
				<li><a href="#">{{ valor.programas.nombre_programa }}</a></li>
			{% endfor %}
		</ul>
		<div class="panes">			
			{% for llave, valor in programas.items %}
				<div class="panesDiv">		
					{% for llaveCiclo, valorCiclo in valor.ciclos.items %}
						{% if valorCiclo.ciclo %}
							{% if valorCiclo.cantCalificaciones > 0 %}
								{% ifnotequal forloop.counter 1 %}<br/>{% endifnotequal %}
								<table class="grilla" width="100%">
									<thead>
										<tr>
											<th colspan="5"><h3>Ciclo: {{ valorCiclo.codigoCiclo.codigo}}</h3></th>													
										</tr>
										<tr>
											<th style="width: 40px;">Código</th>
											<th>Competencia</th>
											<th style="width: 20px;">F.T.</th>	
											<th style="width: 20px;">Hab.</th>
											<th style="width: 20px;">Def.</th>													
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th scope="row" colspan="2">Total Competencias: {{valorCiclo.cantCalificaciones }}</th>
											<th scope="row" colspan="2">Promedio:</th>
											<th style="text-align:center">{{ valorCiclo.ciclo.promedio_ciclo}}</th>	
										</tr>
									</tfoot>
									<tbody>				
										{% for calificacion in valorCiclo.calificaciones %}
											<tr class="{% cycle '' 'odd' %}">
												<th scope="row"><a href="{{calificacion.idCompetencia}}/">{{ calificacion.codigoCompetencia }}</a></th>
			                        			<td>{{ calificacion.nombreCompetencia }}</td>
			                        			{% for corte in cortes %} 
													<td style="text-align:center">
														{% for llave, valor in calificacion.items %}
															{% ifequal llave corte.id %}
														    	{{ valor.nota }}
														    {% endifequal %}
														{% endfor %}
													</td>
													<td style="text-align:center">
														{% for llave, valor in calificacion.items %}
														    {% ifequal llave corte.id %}
														    	{{ valor.fallas }}
														    {% endifequal %}
														{% endfor %}
													</td>
												{% endfor %}
												<td style="text-align:center">{{ calificacion.fallas }}</td>
												<td style="text-align:center">{{ calificacion.nota_habilitacion }}</td>
												<th style="text-align:center">{{ calificacion.nota_definitiva }}</th>
											</tr>
										{% endfor %}
									</tbody>
								</table>						
							{% else %}
								{% ifnotequal forloop.counter 1 %}<br/>{% endifnotequal %}
								<h3>Ciclo: {{ valorCiclo.codigoCiclo}} </h3>
								<h4>Lo sentimos, al parecer usted no tiene competencias inscritas para este Ciclo.</h4>
								<br/>
							{% endif %}
						{% endif %}
					{% endfor %}					
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}