{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %} 
	<li><a href="/">Inicio</a></li>
	<li>>></li>
	<li>Horarios</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Horarios</h1>
		<ul class="tabs">
			{% for llave, valor in programas.items %}
				<li><a href="#" title="{{ valor.programas.nombre_programa }}">{{ valor.programas.abreviatura }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">
			{% for llave, valor in programas.items %}
				<div class="panesDiv">
					{% if valor.ciclo %}
						{% if valor.cantCalificaciones > 0 %}
							<table id="estudiantes" class="grilla" width="100%" style="margin-top:{{ margintop }}px;">
								<thead>
									<tr>
										<th colspan="3"><h3>Ciclo - {{ ciclo.codigo}}</h3></th>				
									</tr>
									<tr>
										<th style="width: 40px;">Código</th>
										<th>Competencias</th>
										<th>Horario</th>				
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th scope="row" colspan="4">Total Competencias: {{ valor.cantCalificaciones }}</th>
									</tr>
								</tfoot>
								<tbody>				
									{% for calificacion in valor.calificaciones %}
										<tr class="{% cycle '' 'odd' %}">
											<th scope="row"><a href="{{calificacion.idCompetencia}}/">{{ calificacion.codigoCompetencia }}</a></th>
		                        			<td>{{ calificacion.nombre_competencia }}</td>
		                        			<td>
		                        				{% for horario in calificacion.horarios %}
													{{ horario }}<br/>
												{% endfor %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<h4>Lo sentimos, al parecer usted no tiene competencias inscritas para este Ciclo.</h4>
						{% endif %}
					{% else %}
						<h4>Lo sentimos, al parecer usted no se ha matriculado en este ciclo.</h4>
					{% endif %}							
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}