{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Competencias</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Calificaciones</h1>
		<ul class="tabs"">
			{% for llave, valor in programas.items %}
				<li><a href="#">{{ valor.programas.nombre_programa }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">
			{% for llave, valor in programas.items %}
				<div class="panesDiv">
					{% if valor.ciclo %}
						{% if valor.cantCalificaciones > 0 %}
							<table id="estudiantes" class="grilla" width="100%">
								<thead>
									<tr>
										<th colspan="{{ cantCortes }}"><h3>Ciclo - {{ ciclo.codigo}}</h3></th>				
									</tr>
									<tr>
										<th style="width: 40px;">Código</th>
										<th>Competencia</th>					
										{% for corte in cortes %} 
											<th>F.</th>
											<th>{{corte.porcentaje}}%</th>
										{% endfor %}
										<th style="width: 20px;">F.T.</th>
										<th style="width: 20px;">Hab.</th>
										<th style="width: 20px;">Def.</th>
									</tr>
								</thead>
								<tbody>				
									{% for calificacion in valor.calificaciones %}
										<tr class="{% cycle '' 'odd' %}">
											<th scope="row"><a href="{{calificacion.idCompetencia}}/">{{ calificacion.codigoCompetencia }}</a></th>
		                        			<td>{{ calificacion.nombreCompetencia }}</td>
		                        			{% for corte in cortes %} 
												<td style="text-align:center">
													{% for llave, valor in calificacion.items %}
													    {% ifequal llave corte.id %}
													    	{{ valor.fallas }}
													    {% endifequal %}
													{% endfor %}
												</td>
												<td style="text-align:center">
													{% for llave, valor in calificacion.items %}
														{% ifequal llave corte.id %}
													    	{{ valor.nota }}
													    {% endifequal %}
													{% endfor %}
												</td>
											{% endfor %}
											<td style="text-align:center">{{ calificacion.fallas }}</th>
											<td style="text-align:center">{{ calificacion.nota_habilitacion }}</td>
											<th style="text-align:center">{{ calificacion.nota_definitiva }}</th>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th scope="row" colspan="{{ cantCortes }}">Total Competencia: {{ valor.cantCalificaciones }}</td>
									</tr>
								</tfoot>
							</table>
						{% else %}
							<h4>Lo sentimos, al parecer usted no tiene competencias inscritas para este Ciclo.</h4>
						{% endif %}
					{% else %}
						<h4>Lo sentimos, al parecer usted no se ha matriculado en este ciclo.</h4>
					{% endif %}							
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}