{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %}
	<li><a href="/">Inicio</a></li>
	<li>>></li>
	<li><a href="/academico/">Académico</a></li>
	<li>>></li>
	<li>Calificaciones</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Calificaciones</h1>
		<ul class="tabs">
			{% for llave, valor in programas.items %}
				<li><a href="#" title="{{ valor.programas.nombre_programa }}">{{ valor.programas.abreviatura }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">
			{% for llave, valor in programas.items %}
				<div class="panesDiv">
					<div style="height:{{ margintop }}px;"></div>
					{% if valor.ciclo %}
						{% if valor.cantCalificaciones > 0 %}
							<table id="estudiantes" class="grilla" width="100%">
								<thead>
									<tr>
										<th colspan="{{ cantCortes }}"><h3>Ciclo - {{ ciclo.codigo}}</h3></th>				
									</tr>
									<tr>
										<th style="width: 40px;">Código</th>
										<th>Materia</th>					
										{% for corte in cortes %} 
											<th>F.</th>
											<th>{{corte.porcentaje}}%</th>
										{% endfor %}
										<th style="width: 20px;">F.T.</th>
										<th style="width: 20px;">T.A.</th>
										<th style="width: 20px;">Def.</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th scope="row" colspan="{{ cantCortes }}">Total Materias: {{ valor.cantCalificaciones }}</th>
									</tr>
								</tfoot>
								<tbody>				
									{% for calificacion in valor.calificaciones %}
										<tr class="{% cycle '' 'odd' %}">
											<th scope="row"><a href="{{calificacion.idMateria}}/">{{ calificacion.codigoMateria }}</a></th>
		                        			<td>{{ calificacion.nombreMateria }}</td>
		                        			{% for corte in cortes %} 
												<td style="text-align:center">
													{% for llave, valor in calificacion.items %}
													    {% ifequal llave corte.id %}
													    	{{ valor.fallas }}
													    {% endifequal %}
													{% endfor %}
												</td>
												<td style="text-align:center">
													{% for llave, valor in calificacion.items %}
														{% ifequal llave corte.id %}
													    	{{ valor.nota }}
													    {% endifequal %}
													{% endfor %}
												</td>
											{% endfor %}
											<td style="text-align:center">
												{% ifequal calificacion.fallas None %}
													0
												{% else %}
													{{ calificacion.fallas }}
												{% endifequal %}
											</td>
											<td style="text-align:center">{{ calificacion.tipo_aprobacion }}</td>
											<th style="text-align:center">
												{% ifequal calificacion.nota_definitiva None %}
													0,0
												{% else %}
													{{ calificacion.nota_definitiva }}
												{% endifequal %}
											</th>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<h4>Lo sentimos, al parecer usted no tiene materias inscritas para este Ciclo.</h4>
						{% endif %}
					{% else %}
						<h4>Lo sentimos, al parecer usted no se ha matriculado en este ciclo.</h4>
					{% endif %}							
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}