<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{{ titulo_pagina }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{ path }}images/favicon.ico"/>
		<link rel="stylesheet" href="{{ path }}css/estilo.css" type="text/css" media="screen,projection" />
		<link rel="stylesheet" href="{{ path }}css/estilo_imprimir.css" type="text/css" media="print" />
		<script type="text/javascript" src="{{ path }}js/jquery.tools.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function()
			{
				$.tools.validator.localize("es", {'[required]':'Este campo es obligatorio'});
			
				$("#login").validator({lang: 'es'});
				
				{% block jquerycript %}
				
				{% endblock %}
			});
			
			{% block javascript %}{% endblock %}
		</script>
		
	</head>
 
	<body>
		<div id="wrapper" class="fixed">
			<div id="header">		
					<h1><strong>{{ titulo_pagina }}</strong></h1>				
					<ul id="nav">
						{% block ruta %}{% endblock %}		
					</ul>
			
			</div>
			<table cellspacing="0" cellpadding="0">	
				<tr>
					<td style="background: #dcdcdc;" valign="top">									
						<div id="sidebar_left">
							{% if not request.session.grupoUsuarioid %}
								<form id="login" action="/login/" method="post">
									<table>
										<tr>
											<td><strong>Usuario</strong></td>
										</tr>
										<tr>
										    <td><input type="text" name="usuario" id="usuario"/></td>
										</tr>
										<tr>
											<td><strong>Contraseña</strong></td>
										</tr>
										<tr>
										    <td><input type="password" name="contrasena" id="contrasena"/></td>					    
										</tr>
									</table>							
									<p><input type="submit" value="INICIAR SESIÓN"/></p>
									{% if request.session.msg_error %} 
										<br/>
										<div class="msgerror">
											{{ request.session.msg_error }}
										</div>
									{% endif %}
								</form>
							{% else %}								
								<h2>Académico</h2>								
								<ul>
									{% if request.session.grupoUsuarioid == 3 %}
										<li><a href="/academico/docente/programas/">Programas</a></li>
										<li><a href="/academico/docente/horarios/">Horarios</a></li>
										<li><a href="/academico/docente/notas/">Calificaciones</a></li>
									{% endif %}
									{% if request.session.grupoUsuarioid == 4 %}
										{% if not request.session.mora %}
											<li><a href="/academico/estudiante/programas/">Programas</a></li>
											<li><a href="/academico/estudiante/horarios/">Horarios</a></li>
											<li><a href="/academico/estudiante/notas/">Calificaciones</a></li>
											<li><a href="/academico/estudiante/historial/">Historial académico</a></li>
											<li><a href="/academico/estudiante/inscripcion/">Inscribir materias</a></li>
										{% endif %}
									{% endif %}
								</ul>
								{% if request.session.grupoUsuarioid == 4 %}
									<h2>Financiero</h2>	
									<ul>
										{% if not request.session.mora %}
											<li><a href="/financiero/estudiante/pazysalvo/">Paz y salvo</a></li>
										{% endif %}
									</ul>
								{% endif %}
							{% endif %}
						</div>				
					</td>
					<td valign="top">
						{% if request.session.mora %}
							<div class="msgerror">
								En este momento usted se encuentra en mora con la institución por lo cual algunas bandades del sistema han sido desactivadas, por favor acercarse a pagaduria para obtener más información al respecto. 
							</div>
						{% endif %}
						{% block contenido %}							
						{% endblock %}
					</td>
					<td valign="top">
						{% if request.session.grupoUsuarioid %}
							<div id="sidebar_right">
								<h2>Bienvenido</h2>
								<p>
								<strong>Usuario:</strong> {{ user.get_full_name }}<br/>
								{% if user.groups.all %}
								    {% for tipo in user.groups.all %}
								        <strong>Perfil:</strong> {{ tipo }} <br/>
								    {% endfor %}
								{% else %}
									No tiene permisos habilitados.<br/>
								{% endif %}
								</p>			
								<h2>Mi Cuenta</h2>
								<ul>
									<li><a href="/perfil/">Mi perfil</a></li>
									{% ifequal request.session.control 0 %}<li><a href="/contrasena/">Cambiar contraseña</a></li>{% endifequal %}
									<li><a href="/logout/">Cerrar sesión</a></li>
								</ul>
								{% block notificaciones %}			
								{% endblock %}
							</div>	
						{% endif %}
					</td>
				</tr>
			</table>		
			
			<div id="footer">     
				<p style="float:right;>
					<a href="http://jigsaw.w3.org/css-validator/" target="_blank" style="text-decoration:none;">
						<img style="border:0;height:15px" src="{{ path }}images/vcss.jpg" alt="Valid CSS!"/>
					</a>
					<a href="http://validator.w3.org/" target="_blank" style="text-decoration:none;">
				    	<img style="border:0;height:15px" src="{{ path }}images/valid-xhtml10.jpg" alt="Valid XHTML 1.0 Transitional"/>
				    </a>
				</p>
				<p><a href="http://www.arawak.com.co/" target="_blank">Arawak</a> Claro - Sistema de Información Académica © 2011.</p>
			</div>
		</div>
	</body>
</html>