<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{{ titulo_pagina }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ path }}css/estilo.css" type="text/css" media="screen,projection" />
		<script src="{{ path }}js/jquery.tools.min.js"></script>
		
		<script>
			$(document).ready(function()
			{
				$.tools.validator.localize("es", {'[required]':'Este campo es obligatorio'});
			
				$("#login").validator({lang: 'es'});
				
				{% block javascript %}{% endblock %}
			});
		</script>
		
	</head>
 
	<body>
		<div id="wrapper" class="fixed">
			<div id="header">		
					<h1><strong>{{ titulo_pagina }}</strong></h1>				
					<ul id="nav">
						{% block ruta %}{% endblock %}		
					</ul>
			
			</div>
			<table cellspacing="0" cellpadding="0">	
				<tr>
					<td style="background: #f6f6f6;" valign="top">									
						<div id="sidebar_left">
							{% if not user.username %}
								<form id="login" action="/login/" method="post">
									<table>
										<tr>
											<td><strong>Usuario</strong></td>
										</tr>
										<tr>
										    <td><input type="text" name="usuario" id="usuario" required="required"/></td>
										</tr>
										<tr>
											<td><strong>Contraseña</strong></td>
										</tr>
										<tr>
										    <td><input type="password" name="contrasena" id="contrasena" required="required"/></td>					    
										</tr>
									</table>							
									<p><input type="submit" value="INICIAR SESIÓN" id="login"></p>
									{{ request.session.msg_error }}
								</form>
							{% else %}								
								<h2>Académico</h2>								
								<ul>
									<li><a href="/academico/programas/">Programas</a></li>
									<li><a href="/academico/competencias/">Competencias</a></li>
									<li><a href="/academico/horarios/">Horarios</a></li>
									{% if request.session.grupoUsuarioid == 3 %}<li>Docente</li>{% endif %}
									{% if request.session.grupoUsuarioid == 4 %}<li>Estudiante</li>{% endif %}
								</ul>
							{% endif %}
						</div>				
					</td>
					<td valign="top">
						{% block contenido %}			
						{% endblock %}
					</td>
					<td valign="top">
						{% if user.username %}
							<div id="sidebar_right">
								<h2>Bienvenido</h2>
								<p>
								<strong>Usuario:</strong> {{ user.get_full_name }}<br/>
								{% if user.groups.all %}
								    {% for tipo in user.groups.all %}
								        <strong>Perfil:</strong> {{ tipo }} <br/>
								    {% endfor %}
								{% else %}
									No tiene permisos habilitados.<br/>
								{% endif %}
								</p>			
								<h2>Mi Cuenta</h2>
								<ul>
									<li><a href="/perfil/">Mi perfil</a></li>
									<li><a href="/contrasena/">Cambiar Contraseña</a></li>
									<li><a href="/logout/">Cerrar Sesión</a></li>
								</ul>
								{% block notificaciones %}			
								{% endblock %}
							</div>	
						{% endif %}
					</td>
				</tr>
			</table>		
			
			<div id="footer">
				<p style="float:right;">Valid <a href="http://validator.w3.org/check?uri=referer">HTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/">CSS</a></p>
				<p>SIA 2011. Diseñado por: <a href="http://arawak.com.co/">Arawak</a>. Todos los Derechos Reservados</p>
			</div>
		</div>
	</body>
</html>