<div id="sidebar">
	<h2><b class="text1">Iniciar Sesi&oacute;n</b></h2>
	<form action="/login/" method="post">
		<table>
			<tr>
				<td><label for="contrasena_actual">Contrase&ntilde;a Actual</label></td>
			    <td><input type="password" name="contrasena_actual" id="contrasena_actual" /></td>
			</tr>
			<tr>
				<td><label for="contrasena_nueva">Contrase&ntilde;a Nueva</label></td>
				<td><input type="password" name="contrasena_nueva" id="contrasena_nueva"/></td>					    
			</tr>
			<tr>
				<td><label for="contrasena_conf">Confirme su Contrase&ntilde;a</label></td>
				<td><input type="password" name="contrasena_conf" id="contrasena_conf"/></td>					    
			</tr>
		</table>							
		<p><input type="submit" value="Cambiar Contrase&ntilde;a" id="contrasena"></p>		
	</form>			
</div>	