{% extends 'base.html' %}

{% block javascript %}
	<script src="{{ path }}js/jquery-latest.js"></script>
  	<script type="text/javascript" src="{{ path }}js/jquery.validate.js"></script>
  	
  	<script>
		$(document).ready(function()
		{
			$("#login").validate();				
		});
	</script>
{% endblock %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="../">Inicio</a></li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h2>Inicio</h2>
	</div>			
{% endblock %}