body{font-family:Arial;color:#555;background:url(../images/body.jpg) top repeat-x #838281;height:100%;margin:20px;}
*{margin:0;padding:0;}
#wrapper{background:#fff;border:4px solid #222;margin:0 auto;padding:5px;}
.fixed{width:970px;}
#header{height:110px;background:url(../images/header.jpg) top repeat-x;}
#titulo{float:left;width:502px;height:85px;}
#adsense{float:right;width:468px;height:85px;}
#header h1{height:45px;font:28px Arial;color:#fff;padding:30px 20px 10px;}
#nav{font:10px Arial;line-height:22px;margin:0;}
#nav li{list-style:none;display:inline;color:#eee;padding:7px 3px;}
#nav li a{color:#eee;text-decoration:none;padding:7px 3px;}
#nav li a:hover{text-decoration:underline;}
#sidebar_left{width:140px;height:100%;font:10px Arial;line-height:20px;border-right:1px solid #eee;padding:10px;}
#sidebar_right{width:160px;background:#C8E4EE;border-left:1px solid #97CBDF;border-right:1px solid #97CBDF;border-bottom:1px solid #97CBDF;color:#555;padding:10px;}
#sidebar_left h2,#sidebar_right h2{font:14px Arial;font-weight:700;text-transform:uppercase;color:#555;margin:15px 0;}
#sidebar_left ul,#sidebar_left ol,#sidebar_left blockquote,#sidebar_right ul,#sidebar_right ol,#sidebar_right blockquote{list-style:none;font:11px Arial;line-height:15px;color:#555;margin:15px 0;padding:0 0 0 10px;}
#sidebar_left a,#sidebar_right a{color:#555;text-decoration:none;}
#sidebar_left input[type=text],#sidebar_left input[type=password],#sidebar_left input[type=email],#sidebar_left input[type=url]{border:none;color:#4F4F4F;font:11px Arial;width:100%;padding:3px;}
#sidebar_left input[type=submit]{margin-right:5px;border:1px solid #F0F0F0;font:10px Arial;width:100%;padding:3px;}
#content{font:11px Arial;width:597px;padding:10px 15px;}
#content h1{line-height:25px;font:14px Arial;font-weight:700;text-transform:uppercase;border-bottom:1px solid #eee;margin:15px 0;}
#content h2{font:13px Arial;font-weight:700;margin:10px 0;}
#content input[type=text],#content input[type=password],#content input[type=email],#content input[type=url],#content input[type=file]{border:none;color:#4F4F4F;font:11px Arial;padding:3px;}
#content input[type=submit]{margin-right:5px;border:1px solid #F0F0F0;font:10px Arial;padding:3px;}
.formulario{background:#dcdcdc;}
table.grilla{color:#666;border-collapse:collapse;}
table.grilla thead th,table.grilla tfoot th,table.grilla tfoot td{background-color:#144d29;color:#FFF;padding:10px;}
table.grilla tbody th{padding:10px;}
table.grilla tbody tr.odd{background-color:#F7F7F7;}
table.grilla tbody a{color:#378052;text-decoration:none;padding:1px 2px;}
table.grilla tbody a:active,table.grilla tbody a:hover,table.grilla tbody a:focus,table.grilla tbody a:visited{color:#378052;}
table.grilla tbody tr:hover{background-color:#EEE;color:#333;}
#content table.grilla input[type=text]{border:solid;color:#144d29;font:10px Arial;width:30px;text-align:right;border-width:1px;padding:3px;}
#content .tabs{margin:0 !important;padding:0 2px;}
#content .tabs li{float:left;list-style-type:none;margin:0;padding:0;}
#content .tabs a{font:11px Arial;line-height:20px;font-weight:700;text-decoration:none;border:1px solid #144d29;border-bottom:0;height:16px;background-color:#144d29;color:#fff;position:relative;top:1px;outline:0;margin:3px 1px 0 0;padding:1px 10px;}
#content .tabs a:active{outline:none;}
#content .tabs a:hover{background-color:#378052;color:#fff;}
#content .tabs .current,#content .tabs .current:hover,#content .tabs li.current a{background-color:#fff;border-bottom:1px solid #fff;color:#144d29;cursor:default;}
#content .panes .pane{display:none;}
#content .panesDiv{border:1px solid #144d29;background-color:#fff;padding:0 10px 20px;}
#footer{background:#dcdcdc;border-top:2px solid #eee;clear:both;margin:5px 0 0;padding:15px;}
#footer a{color:#555;font-weight:700;}
.error{height:20px;background-color:#ea1919;color:#fff;display:none;font:10px Arial;line-height:20px;padding:0 10px;}
.tooltip{background-color:#000;width:150px;display:none;color:#fff;text-align:left;font:10px Arial;line-height:15px;padding:0 10px;}
.msgerror{color:#D8000C;text-align:center;}
#sidebar_left h3,#sidebar_right h3,#sidebar_left h4,#sidebar_right h4{margin:15px 0;}
#sidebar_left p,#sidebar_right p,#footer p{font:11px Arial;line-height:15px;color:#555;}
#sidebar_left a:hover,#sidebar_right a:hover,#footer a:hover{color:#222;}