body {
	font: 62.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#555;
	margin:20px;
	background:url(../images/body.jpg) top repeat-x #333;
	height:100%;
}

* {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	background:#fff;
	padding:5px;
	border:4px solid #222;
}

.fixed {
	width:970px;
}

#header {
	height:110px;
	background:url(../images/header.jpg) top repeat-x;
}

#header h1 {
	height:45px;
	font:250% Trebuchet MS;
	padding:30px 20px 10px 20px;
	color:#fff;
}

#nav {
	margin:0 0 0 0;
}

#nav li {
	list-style:none;
	display:inline;
	padding:7px 0;
}

#nav li a {
	padding:7px;
	color:#eee;
	text-decoration:none;
}

#nav li a:hover {
	background:#222;
	color:#fff;
}

#sidebar_left {
	width:180px;
	height:100%;
	padding:0 10px;	
	font:100% Verdana;
	line-height:20px;
	border-right:1px solid #eee;
}

#sidebar_left h2 {
	font:140% Arial;
	color:#222;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:5px;
}

#sidebar_left p {
	line-height:20px;
}

#sidebar_right {	
	width:160px;
	padding:10px;
	background:#C8E4EE;
	border-left:1px solid #97CBDF;
	border-right:1px solid #97CBDF;
	border-bottom:1px solid #97CBDF;
	color:#1F5063;
}

#sidebar_right h2 {
	font:110% Verdana;
	font-weight:bold;
	text-transform:uppercase;
	color:#13313C;
}

#sidebar_right p {
	font:100% Arial;
	line-height:20px;
}

#content {
	padding:0 15px;
	font-size:120%;
	width:557px;
}

#content h2 {
	font:150% Trebuchet MS;
	color:#222;
	border-bottom:1px solid #eee;
}

#content h3 {
	font:140% Arial;
	color:#222;
	border-top:1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;
	padding:5px;
}

.with_sidebar {
	margin:0 0 0 0;
}

#content h1,h2,h3,h4,p,ul,ol,blockquote {
	margin:15px 0;
	line-height:25px;
}

#sidebar_left h1,h2,h3,h4,p,ul,ol,blockquote {
	margin:15px 0;
}

#sidebar_right h1,h2,h3,h4,p,ul,ol,blockquote {
	margin:15px 0;
}

#sidebar_right ul {
	list-style:none;
	padding:0 0 0 10px;	
}

#footer {
	margin:5px 0 0 0;
	padding:15px;
	background:#f6f6f6;
	border-top:2px solid #eee;
	clear:both;
}

input[type=text], input[type=password], input[type=email], input[type=url] {
	padding: 3px;
	border: none;
	color: #4F4F4F;
	font: 100% "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

input[type=submit] {
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #F0F0F0;
	font: 100% "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

/* tabla usada para los formularios*/

table.formulario {
	background:#f6f6f6;	
}
/* tabla usada para los formularios*/

table.grilla {
	color: #666;
	border-collapse: collapse
}

table.grilla thead th,table.grilla tfoot th, table.grilla tfoot td {
	background-color: #549200;
	color: #FFF;
}

table.grilla tbody th {
	padding: 10px 10px
}

table.grilla tbody tr.odd {
	background-color: #F7F7F7;
}

table.grilla tbody a {
	padding: 1px 2px;
	color: #73ca01;
	text-decoration: none;
}

table.grilla tbody a:active,table.grilla tbody a:hover,table.grilla tbody a:focus,table.grilla tbody a:visited {
	color: #666
}

table.grilla tbody tr:hover {
	background-color: #EEE;
	color: #333
}

table.grilla tbody td a[href="http://www.rodcast.com.br/"] {
	margin: 0 auto;
	display: block;
	width: 15px;
	height: 15px;
	text-indent: -999em;
	border-bottom: 0
}

table.grilla tbody a:visited:after {
}

/* label de error*/

label.error { 
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top; 
}

/* mensajes de error jquery */

.error {
	height:20px;
	background-color:#ea1919;
	padding:0 10px;
	color:#ffffff;
	display:none;	
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
}

.error p {
	margin:0;
	line-height: 190%;
}

/* tooltips jquery */

.tooltip {
	background-color:#000;
	padding:0 10px;
	width:150px;
	display:none;
	color:#fff;
	text-align:left;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-top-left-radius:5px;
}

.accordion {
	margin: 15px 0 0 0;
	width: 100%;
}

.accordion  h2{
	font-size: 14px;
	font-weight: normal;
	padding: 5px;
	margin:0;
}

.accordion div.pane {
	border-width: 0px 2px;
	padding: 5px;
}