{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}
		
{% block ruta %}
	<li><a href="/">Inicio</a></li>
	<li>>></li>
	<li><a href="{{ request.session.url }}">{{ request.session.link }}</a></li>
	<li>>></li>
	<li>{{ competencia.nombre }}</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Competencia</h1>
		<h2>{{ competencia.nombre }}</h2>
		<table>
			<tr>
				<td valign="top" style="padding: 3px; width: 80px; text-align:left"><strong>Código: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.codigo }}</td>
			</tr>
			<tr>
				<td valign="top" style="padding: 3px; text-align:left"><strong>Programa: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.programa }}</td>
			</tr>
			<tr>
				<td valign="top" style="padding: 3px; text-align:left"><strong>Descripción: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.descripcion }}</td>
			</tr>
			<tr>
				<td valign="top" style="padding: 3px; text-align:left"><strong>Intensidad: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.intensidad }}</td>
			</tr>
			<tr>
				<td valign="top" style="padding: 3px; text-align:left"><strong>Créditos: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.creditos }}</td>
			</tr>
			<tr>
				<td valign="top" style="padding: 3px; text-align:left"><strong>Periodo: </strong></td>				
			    <td valign="top" style="padding: 3px; text-align:justify">{{ competencia.periodo }}</td>
			</tr>
		</table>
	</div>			
{% endblock %}