{% extends 'base.html' %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Competencias</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Mis Competencias </h1>
		<table class="grilla" width="100%">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nombre</th>
					<th>Programa</th>
				</tr>
			</thead>				
			<tbody>				
				{% for competencia in competencias %}
					<tr class="{% cycle '' 'odd' %}">
						<th scope="row"><a href="{{competencia.id}}/">{{ competencia.codigo }}</a></th>
						<td style="text-align:center">{{ competencia.nombre }}</td>
						<td style="text-align:center">{{ competencia.nombrePrograma }}</td>
					</tr>					
				{% endfor %}
			</tbody>				
			<tfoot>
				<tr>
					<th scope="row" colspan="3">Total Programas: {{cantidad}}</td>
				</tr>
			</tfoot>
		</table>
	</div>			
{% endblock %}