{% extends 'base.html' %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Horarios</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Mis Competencias </h1>
		{% if msg_error %} 
		    {{ msg_error }} 
		{% else %}
			<table class="grilla" width="100%">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Programa</th>
						<th>Horario</th>
					</tr>
				</thead>
				
				<tbody>				
					{% for curso in cursos %}
						<tr class="{% cycle '' 'odd' %}">
							<th scope="row"><a href="{{curso.idCompetencia}}/">{{ curso.codigoCompetencia }}</a></th>
							<td>{{ curso.nombre }}</td>
							<td style="text-align:center">{{ curso.nombrePrograma }}</td>
							<td style="text-align:center">
								{% for horario in curso.horarios %}
									{{ horario }}<br/>
								{% endfor %}
							</td>
						</tr>					
					{% endfor %}
				</tbody>
				
				<tfoot>
					<tr>
						<th scope="row" colspan="4">Total Programas: {{cantidad}}</td>
					</tr>
				</tfoot>	
			</table>
		{% endif %}
	</div>			
{% endblock %}