{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %}
	<li><a href="/">Inicio</a></li>
	<li>>></li>
	<li><a href="/academico/">Académico</a></li>
	<li>>></li>
	<li>Calificaciones</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Calificaciones</h1>
		<ul class="tabs">
			{% for llave, valor in programas.items %}
				<li><a href="#" title="{{ valor.programa.nombre }}">{{ valor.programa.abreviatura }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">			
			{% for programa in programas %}
				<div class="panesDiv">
				<div style="height:{{ margintop }}px;"></div>
				{% for lProgramas, vProgramas in programas.items %}
					{% ifequal programa vProgramas.programa.id %}
						{% for lCiclo, vCiclo in vProgramas.ciclos.items %}
							<table id="estudiantes" class="grilla" width="100%">
								<thead>
									<tr>
										<th colspan="3"><h3>Ciclo: {{ vCiclo.ciclo.codigo}}</h3></th>				
									</tr>
									<tr>
										<th style="width: 80px;">Código</th>
										<th>Materia</th>
										<th style="width: 150px;">Horario</th>				
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th scope="row" colspan="3">Total Materias: {{ vCiclo.cantidad }}</th>
									</tr>
								</tfoot>
								<tbody>				
									{% for curso in vCiclo.cursos %}
										<tr class="{% cycle '' 'odd' %}">
											<th scope="row"><a href="{{ curso.idMateria }}/">{{ curso.codigoMateria }}</a></th>
		                        			<td>{{ curso.nombre }}</td>
		                        			<th><a href="guardar/{{ vCiclo.ciclo.id}}/{{ curso.id }}/">Ingresar Notas</a></th>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							&bnspc;
						{% endfor %}
					{% endifequal %}
				{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}