{% extends 'base.html' %}

{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li>Ingresar Notas</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<ul class="tabs"">
			{% for llave, valor in programas.items %}
				<li><a href="#">{{ valor.programa.nombre }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">
			{% for programa in programas %}
				<div class="panesDiv">
				{% for llave, valor in programas.items %}
					<h3>Ciclo: {{ ciclo.codigo}} </h3>
					<table id="estudiantes" class="grilla" width="100%">
						<thead>
							<tr>
								<th style="width: 80px;">Código</th>
								<th>Competencia</th>
								<th style="width: 100px;"></th>				
							</tr>
						</thead>
						<tbody>				
							{% for llaveCursos, valorCurso in valor.cursos.items %}
								<tr class="{% cycle '' 'odd' %}">
									<th scope="row"><a href="{{valorCurso.idCompetencia}}/">{{ valorCurso.codigoCompetencia }}</a></th>
                        			<td>{{ valorCurso.nombre }}</td>
                        			<td><a href="guardar/{{valorCurso.id}}/">Ingresar Notas</a></td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th scope="row" colspan="4">Total Competencia: {{ valor.cantidad }}</td>
							</tr>
						</tfoot>
					</table>
				{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}