{% extends "admin/base_site.html" %}

{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script> 
<script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script> 
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script> 
<script type="text/javascript">
	function historialPago(){
		location.href="../rpt_historialpago/";
	}
	function imprimirPago(){
		if(window.document.getElementById('id_recibo').value!=""){
			location.href="../rpt_imprimirpago/" + window.document.getElementById('id_recibo').value;
		}
		else{
			alert("Debe digitar un código de recibo.", "CLARO");
		}
	}
</script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	 <a href="../../../../">{% trans "Inicio" %}</a> &rsaquo;
     <a href="../../../">{% trans "Financiero" %}</a> &rsaquo;
     <a href="../../">{% trans "horacatedra" %}</a> &rsaquo; 
     <a href="../">{{ horacatedra.id }}</a> &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}
{% block content %}
	<h1>Liquidar pago a profesor</h1>
	<div id="content-main">
		<form id="formulario" action="." method="post">
			<input type="hidden" name="hora_catedra" value="{{ horacatedra.id }}" />
			<div>
				<fieldset class="module aligned ">
						<div class="form-row profesor">
					  		<div>
				  				<label for="id_codigo" class="required">Profesor: </label>				
								<div> {{ profesor.nombre1 }} {{ profesor.nombre2 }} {{ profesor.apellido1 }} {{ profesor.apellido2 }} </div>
							 </div>
						</div>
						<div class="form-row ciclo">
							 <div>
				  				<label for="id_ciclo" class="required">Ciclo: </label>				
								<div> {{ ciclo.codigo }} </div>
							 </div>
						</div>
						<div class="form-row recibo">
							 <div>
							 	{{ formpago.recibo.errors }}
				  				<label for="id_recibo" class="required">Recibo: </label>				
								<div> {{ formpago.recibo }} </div>
							 </div>
						</div>
						<div class="form-row fecha_liquidacion">
							<div>
								{{ formpago.fecha_liquidacion.errors }}
								<label for="id_fecha_liquidacion" class="required">Fecha liquidación: </label>
								{{ formpago.fecha_liquidacion }}
							</div>
						</div>
						<div class="form-row fecha_inicio">
							<div>
								{{ formpago.fecha_inicio.errors }}
								<label for="id_fecha_inicio" class="required">Fecha inicio: </label>
								{{ formpago.fecha_inicio }}
							</div>
						</div>
						<div class="form-row fecha_fin">
							<div>
								{{ formpago.fecha_fin.errors }}
								<label for="id_fecha_fin" class="required">Fecha fin: </label>
								{{ formpago.fecha_fin }}
							</div>
						</div>
				</fieldset>
			</div>
			<div class="submit-row" > 
				<input type="button" value="Historial pagos" onclick="historialPago()"/>
				<input type="button" value="Imprimir pago" onclick="imprimirPago()"/>
		    	<input type="submit" value="Liquidar" />
		    </div>
		</form>
	</div>	
{% endblock %}