{% extends 'base.html' %}

{% block jquerycript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
{% endblock %}

{% block ruta %}
	<li><a href="/">Inicio</a></li>
	<li>>></li>
	<li><a href="/financiero/">Financiero</a></li>
	<li>>></li>
	<li>Paz y salvo</li>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Calificaciones</h1>
		<ul class="tabs">
			{% for llave, valor in programas.items %}
				<li><a href="#" title="{{ valor.programas.nombre_programa }}">{{ valor.programas.abreviatura }}</a></li>
			{% endfor %}
		</ul>		
		<div class="panes">
			{% for llave, valor in programas.items %}
				<div class="panesDiv">
					<div style="height:{{ margintop }}px;"></div>
					<table class="grilla" width="100%">
						<thead>
							<tr>
								<th colspan="5"><h3>Ciclo - {{ ciclo.codigo}}</h3></th>				
							</tr>
							<tr>
								<th>Fecha de expedición</th>		
								<th>Fecha de vencimiento</th>
								<th>Fecha de pago</th>
								<th>Valor</th>
								<th></th>			
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th scope="row" colspan="5">Total Pagos: {{ valor.cantidad }}</th>
							</tr>
						</tfoot>
						<tbody>				
							{% for letra in valor.letras %}
								<tr class="{% cycle '' 'odd' %}">
									<th scope="row">{{ letra.fecha_expedicion }}</th>
									<th scope="row">{{ letra.fecha_vencimiento }}</th>
                        			<th scope="row">
                        				{% if letra.fecha_pago %}	
                        					{{ letra.fecha_pago }}
                        				{% else %}
                        					-
                        				{% endif %}
                        			</th>
                        			<th scope="row">{{ letra.valor }}</th>
                        			<th scope="row">
                        				{% if letra.cancelada %}
                        					<a href="plazo/{{letra.id}}/" target="_blank">Recibo</a>
                        				{% endif %}
                        			</th>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if valor.pazysalvo %}	
						<h2>Nota:</h2>
						<p>Usted ya cancelo la totalidad del valor de la matriculo de este programa. <strong><a href="{{ valor.matFinans.id }}/" target="_blank">Generar Paz y salvo</a></strong></p> 
					{% else %}
						<h2>Nota:</h2>
						<p>Para poder imprimir el paz y salvo es necesario primero pagar la totalidad de las letras.</p>  
					{% endif %}				
				</div>
			{% endfor %}
		</div>
	</div>			
{% endblock %}