{% extends 'base.html' %}

{% block javascript %}
	$(".accordion").tabs(".pane", {tabs: 'h3', effect: 'slide'});
{% endblock %}
		
{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li><a href="/academico/competencias/">Competencias</a></li>
		<li>>></li>
		<li>{{ competencia.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h2>Detalle Competencia</h2>
		{% if msg_error %} 
		    {{ msg_error }} 
		{% else %}
			<h3>Informacion Basica</h3>
			<table>
				<tr>
					<td valign="top" style="text-align:left"><strong>Programa: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.programa }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Sufijo: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.sufijo }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Nombre: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.nombre }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Descripción: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.descripcion }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Intensidad: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.intensidad }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Creditos: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.creditos }}</td>
				</tr>
				<tr>
					<td valign="top" style="text-align:left"><strong>Periodo: </strong></td>				
				    <td valign="top" style="text-align:justify">{{ competencia.periodo }}</td>
				</tr>
			</table>				
		{% endif %}
	</div>			
{% endblock %}