{% extends 'base.html' %}

{% block javascript %}
	$(function() {$("ul.tabs").tabs("div.panes > div");});
	$(".accordion").tabs(".pane", {tabs: 'h2', effect: 'slide'});
{% endblock %}
		
{% block ruta %} 
	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li>>></li>
		<li><a href="/academico/competencias/">Competencias</a></li>
		<li>>></li>
		<li>{{ competencia.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="content" class="with_sidebar">
		<h1>Detalle Competencia</h1>
		<ul class="tabs"">
			<li><a href="#">{{ competencia.nombre }}</a></li>
		</ul>
		<div class="panes">
			<div class="panesDiv">
				<div class="accordion">
					<h2>Informacion Basica</h2>
					<div class="pane">
						<table>
							<tr>
								<td valign="top" style="text-align:left"><strong>Programa: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.programa }}</td>
							</tr>
							<tr>
								<td valign="top" style="text-align:left"><strong>Sufijo: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.sufijo }}</td>
							</tr>
							<tr>
								<td valign="top" style="text-align:left"><strong>Descripción: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.descripcion }}</td>
							</tr>
							<tr>
								<td valign="top" style="text-align:left"><strong>Intensidad: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.intensidad }}</td>
							</tr>
							<tr>
								<td valign="top" style="text-align:left"><strong>Creditos: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.creditos }}</td>
							</tr>
							<tr>
								<td valign="top" style="text-align:left"><strong>Periodo: </strong></td>				
							    <td valign="top" style="text-align:justify">{{ competencia.periodo }}</td>
							</tr>
						</table>
					</div>
					<div class="base"></div>
				</div>
			</div>
		</div>
	</div>			
{% endblock %}